In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('ukpn-smart-meter-consumption-lv-feeder.csv')

In [3]:
data = data[['secondary_substation_id', 'lv_feeder_id', 'total_consumption_active_import', 'aggregated_device_count_active', 'data_collection_log_timestamp']]
data['active_power_per_device'] = data['total_consumption_active_import'] / data['aggregated_device_count_active']
data

,secondary_substation_id,lv_feeder_id,total_consumption_active_import,aggregated_device_count_active,data_collection_log_timestamp,active_power_per_device
0,EPN-S0000004U0857,83.0,5745.0,28.0,2024-01-01T13:00:00+03:00,205.178571
1,EPN-S0000004U0857,84.0,824.0,6.0,2024-01-22T06:30:00+03:00,137.333333
2,EPN-S0000004U0860,81.0,4386.0,56.0,2024-01-14T05:00:00+03:00,78.321429
3,EPN-S0000004U0860,81.0,16467.0,56.0,2024-01-15T23:00:00+03:00,294.053571
4,EPN-S0000004U0860,81.0,15814.0,57.0,2024-01-23T12:30:00+03:00,277.438596
...,...,...,...,...,...,...
3074320,EPN-S0000004U0912,6.0,4023.0,40.0,2024-01-14T08:30:00+03:00,100.575000
3074321,EPN-S0000004U0913,84.0,2716.0,12.0,2024-01-10T13:30:00+03:00,226.333333
3074322,EPN-S0000004U0915,82.0,7485.0,12.0,2024-01-08T08:30:00+03:00,623.750000
3074323,EPN-S0000004U0915,83.0,3546.0,19.0,2024-01-13T19:00:00+03:00,186.631579
3074324,EPN-S0000004U0923,81.0,1142.0,8.0,2024-01-03T07:00:00+03:00,142.750000

In [4]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2845808 entries, 0 to 3074324
Data columns (total 6 columns):
 #   Column                           Dtype
---  ------                           -----
 0   secondary_substation_id          object
 1   lv_feeder_id                     float64
 2   total_consumption_active_import  float64
 3   aggregated_device_count_active   float64
 4   data_collection_log_timestamp    object
 5   active_power_per_device          float64
dtypes: float64(4), object(2)
memory usage: 152.0+ MB

In [10]:
subs = data['secondary_substation_id'].unique()

In [11]:
lv_data = []
key = []
for sub in subs:
    for lv_id in data[data['secondary_substation_id'] == sub]['lv_feeder_id'].unique():
        row = data[(data['secondary_substation_id'] == sub) & (data['lv_feeder_id'] == lv_id)][['active_power_per_device', 'data_collection_log_timestamp']]
        if len(row) == 1488:
            lv_data.append(row.sort_values(by=['data_collection_log_timestamp'])['active_power_per_device'].to_numpy())
            key.append((sub, lv_id))

In [8]:
data[(data['secondary_substation_id'] == subs[0]) & (data['lv_feeder_id'] == 83.0)][['active_power_per_device', 'data_collection_log_timestamp']]

         active_power_per_device data_collection_log_timestamp
0                     205.178571     2024-01-01T13:00:00+03:00
1883                  365.666667     2024-01-20T15:30:00+03:00
4528                  104.266667     2024-01-27T07:00:00+03:00
6699                  145.033333     2024-01-26T09:30:00+03:00
6700                  321.933333     2024-01-26T10:30:00+03:00
...                          ...                           ...
3063959               221.066667     2024-01-06T12:00:00+03:00
3064923               310.366667     2024-01-06T23:30:00+03:00
3070575               250.000000     2024-01-09T01:00:00+03:00
3070576               260.333333     2024-01-25T00:00:00+03:00
3073478               142.733333     2024-01-29T04:00:00+03:00

[1488 rows x 2 columns]

In [9]:
data[(data['secondary_substation_id'] == subs[0]) & (data['lv_feeder_id'] == 83.0)][['active_power_per_device', 'data_collection_log_timestamp']].sort_values(by=['data_collection_log_timestamp'])

         active_power_per_device data_collection_log_timestamp
2031524               181.035714     2024-01-01T03:00:00+03:00
1918160               144.571429     2024-01-01T03:30:00+03:00
1155541               131.357143     2024-01-01T04:00:00+03:00
1515604               131.892857     2024-01-01T04:30:00+03:00
1235523               141.000000     2024-01-01T05:00:00+03:00
...                          ...                           ...
1846803               216.333333     2024-02-01T00:30:00+03:00
851979                219.200000     2024-02-01T01:00:00+03:00
1039946               213.533333     2024-02-01T01:30:00+03:00
2988536               236.266667     2024-02-01T02:00:00+03:00
601146                180.000000     2024-02-01T02:30:00+03:00

[1488 rows x 2 columns]

In [12]:
lv_data = np.array(lv_data)

In [13]:
key = np.array(key)

In [39]:
key

array([['EPN-S0000004U0857', '83.0'],
       ['EPN-S0000004U0857', '82.0'],
       ['EPN-S0000004U0857', '81.0'],
       ...,
       ['EPN-R00000000A01F-000-167Z', '81.0'],
       ['EPN-S0000004U0458', '82.0'],
       ['EPN-R00000000B64C-000-021Z', '81.0']], dtype='<U32')

In [14]:
pd.DataFrame(lv_data).to_csv('lv_data.csv')
pd.DataFrame(key).to_csv('lv_key.csv')

In [15]:
lv_data

array([[181.03571429, 144.57142857, 131.35714286, ..., 213.53333333,
        236.26666667, 180.        ],
       [281.5       , 198.5       , 161.5       , ..., 167.75      ,
        105.66666667,  91.16666667],
       [224.57142857, 235.14285714, 231.5       , ..., 271.81395349,
        209.76744186, 160.04651163],
       ...,
       [180.3       , 348.3       , 434.2       , ..., 186.42857143,
        153.64285714, 100.64285714],
       [127.04166667,  99.33333333, 103.625     , ..., 164.53333333,
        109.83333333,  96.8       ],
       [ 70.77777778,  75.        ,  63.22222222, ..., 186.2       ,
        183.2       , 137.5       ]])